body {
	font-family: Lexend,Arial,Tahoma,Verdana,sans-serif;
	background-color: #000;
	color: #f3f3f3;
	margin: 0;
}

p {
	font-size: 16px;
	text-align:left;
	margin: 0px;
}

a.bdy:link {
	color: #b9b9b9;
}

a.bdy:visited {
	color: #b9b9b9;
}

h1 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	color: #ff7f00;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	margin-bottom: 0px;
}

img {
	max-width: 150px;
}

ul {
	margin-top: 0px;
	padding-left: 15px;
	font-size: 16px;
}

.body-container {
	display: flex;
	justify-content: center;
}

.ttl {
	color: #b7b7b7;
}

.collapsible {
	font-family: Lexend,Arial,Tahoma,Verdana,sans-serif;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #b9b9b9;
	text-align: left;
	outline: none;
	font-size: 16px;
}

.collapsible:hover {
	background-color: #000;
	color: #fff;
}

.content {
	display: grid;
	grid-template-rows: auto;
	padding: 8px 8px;
	display: none;
	overflow:auto;
	max-height:400px;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* xxl */
@media only screen (max-width: 1536px) {
	.body-container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.body-container {
		max-width: 1024px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.body-container {
		max-width: 768px;
	}
	/*h1 {
		font-size: 26px;
	}*/
	.logo-bgdcircle, .logo-cart, .logo-bskt, .logo-wheel1, .logo-wheel2 {
		zoom: 0.8;
	}
	.logo-container {
		width: 103px;
		height: 103px;
	}
}

/* md */
@media (max-width: 768px) {
	.body-container {
		max-width: 640px;
	}
	/*h1 {
		font-size: 22px;
	}*/
}

/* sm */
@media (max-width: 640px) {
	.body-container {
		max-width: 480px;
	}
	h1 {
		font-size: 30px;
	}
	.title-image {
		height: 22px;
		padding: 8px 0 20px;
	}
	h2 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	ul {
		font-size: 12px;
	}
}

/* xs */
@media (max-width: 480px) {
	.body-container {
		max-width: 100%;
}

/* from new menu code */
/*

@media (max-width:60em) {
  h2 { padding: 0.5em 0; }
}

@media (min-width:40em) {
  html{ font-size: 130%; }
}

@media (min-width:60em) {
  html { font-size: 135%; }
  h1 { font-size: 280%; }
}

@media (min-width:100em) {
  h1 { font-size:300%; }
}

@media (min-width:160em) {
  html { font-size: 160% }
  h1 {
    font-size: 320%;
    padding: 1.75em 0 .8em 0;
  }
}
*/