body {
	font-family: Lexend,Arial,Tahoma,Verdana,sans-serif;
	background-color: #000;
	color: #f3f3f3;
	margin: 0;
}

p {
	font-size: 16px;
	text-align:left;
	margin: 0px;
}

a.bdy:link {
	color: #b9b9b9;
}

a.bdy:visited {
	color: #b9b9b9;
}

h1 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	color: #ff7f00;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	margin-bottom: 0px;
}

img {
	max-width: 150px;
}

ul {
	margin-top: 0px;
	padding-left: 15px;
	font-size: 16px;
}

.a-menu:link {
	color: #f3f3f3;
}

.a-menu:link {
	color: #f3f3f3;
}

.title-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 80%;
	padding-left: 10%;
}

.title-textbox {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	/*flex-grow: 100;*/
}

.title-image {
	height: 30px;
	padding: 10px 0;
}

.body-container {
	display: flex;
	justify-content: center;
}

.update-container {
	width: 80%;
	margin-top: 20px;
}

.app {
	color: #5bc1ab;
	font-size: 14px;
	text-align:left;
}

.ttl {
	color: #b7b7b7;
}

/* xxl */
@media only screen (max-width: 1536px) {
	.body-container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.body-container {
		max-width: 1024px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.body-container {
		max-width: 768px;
	}
	/*h1 {
		font-size: 26px;
	}*/
	.logo-bgdcircle, .logo-cart, .logo-bskt, .logo-wheel1, .logo-wheel2 {
		zoom: 0.8;
	}
	.logo-container {
		width: 103px;
		height: 103px;
	}
}

/* md */
@media (max-width: 768px) {
	.body-container {
		max-width: 640px;
	}
	/*h1 {
		font-size: 22px;
	}*/
}

/* sm */
@media (max-width: 640px) {
	.body-container {
		max-width: 480px;
	}
	h1 {
		font-size: 30px;
	}
	.title-image {
		height: 22px;
		padding: 8px 0 20px;
	}
	h2 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	ul {
		font-size: 12px;
	}
}

/* xs */
@media (max-width: 480px) {
	.body-container {
		max-width: 100%;
}

/* from new menu code */
/*

@media (max-width:60em) {
  h2 { padding: 0.5em 0; }
}

@media (min-width:40em) {
  html{ font-size: 130%; }
}

@media (min-width:60em) {
  html { font-size: 135%; }
  h1 { font-size: 280%; }
}

@media (min-width:100em) {
  h1 { font-size:300%; }
}

@media (min-width:160em) {
  html { font-size: 160% }
  h1 {
    font-size: 320%;
    padding: 1.75em 0 .8em 0;
  }
}
*/